<md-dialog aria-label="Cadastrar grupo" flex="30" ng-controller="GroupsController as g">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Novo grupo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="g.cancel()">
          <md-icon md-svg-src="img/close.svg" aria-label="Fechar caixa de diálogo"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content flex>
      <div class="md-dialog-content" layout="column" layout-align="start">
        <md-input-container flex>
          <label>Nome</label>
          <input required type="text" ng-model="group.name">
        </md-input-container>
        <md-input-container flex>
          <label>Descrição</label>
          <input required type="text" ng-model="group.description">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="g.save(group)">
        Salvar
      </md-button>
      <md-button>
        Apagar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
